*.ilk
*.pdb
*.exe
*.exp
*.lib
*.dll
*.iobj
*.ipdb
*.pdb
*.pyc
*.pyd
*.so
*.o
*.dylib
*pycache*
*.lastcodeanalysissucceeded
info.db
/.vs
/enc_temp_folder
leechrpc_h.h
leechrpc_c.c
leechrpc_s.c
/MemProcFs_files/temp
/MemProcFs_files/python36
/files/memprocfs
/files/vmm_example.exe
/files/lib
/files/temp
/files/ARM64
/files/x86/lib
/files/x86/vmm_example.exe
/files/python36
/files/vmmdll.h
/files/symsrv.yes
/files/leechcore.h
/temp
Cargo.lock
/vmmrust/memprocfs/target
/vmmrust/memprocfs_example/target
/vmmrust/leechcore_example/target
/vmmrust/m_example_plugin/target
/vmmsharp/files
/vmmsharp/example/.vs
/vmmsharp/example/bin
/vmmsharp/example/obj
/vmmsharp/example_48/bin
/vmmsharp/example_48/obj
/vmmsharp/vmmsharp/.vs
/vmmsharp/vmmsharp/bin
/vmmsharp/vmmsharp/obj
/vmm/vmm.aps
*.tmp
/files/vmm_example
/memtest/Debug
*.out
/vmmlx/vmmlxsym.nativecodeanalysis.xml
