/.vs
*.ilk
*.iobj
*.ipdb
*.exe
*.dll
*.pyd
*.so
*.o
*pycache*
info.db
/files/memprocfs
/files/vmm_example.exe
/files/lib
/files/temp
/files/ARM64
/files/x86/lib
/files/x86/vmm_example.exe
Cargo.lock
/vmmrust/memprocfs/target
/vmmrust/memprocfs_example/target
/vmmrust/leechcore_example/target
/vmmrust/m_example_plugin/target
/vmmsharp/files
/vmmsharp/example/.vs
/vmmsharp/example/bin
/vmmsharp/example/obj
/vmmsharp/example_48/bin
/vmmsharp/example_48/obj
/vmmsharp/vmmsharp/.vs
/vmmsharp/vmmsharp/bin
/vmmsharp/vmmsharp/obj
